<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.game_timing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:targetApi="n">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".CheckNumberActivity" />
        <activity android:name=".recyclerViewChildren.RecyclerRegisterActivity"></activity>
        <activity android:name=".TicketReservationActivity" />
        <activity android:name=".recyclerViewDay.SelectDayActivity" />
        <activity android:name=".TicketActivity" />
        <activity android:name=".galley.GalleryActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".registerChild.ChildActivity" />
        <activity android:name=".AfterActivity" />
        <activity android:name=".SplashActivity">

            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recyclerViewChildren.RegisterChildren" />
        <activity android:name=".recyclerViewPlayers.PlayersActivity" />
        <activity android:name=".recyclerViewPlayers.DetailsEntertainmentActivity">

        </activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".schools.SchoolActivity" />
        <activity
            android:name=".ExtraActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".SampleActivity" />
        <activity android:name=".EditPlayerActivity" />
        <activity android:name=".ToolbarActivity" />
        <activity android:name=".drawer.user.EditUserActivity" />
        <activity android:name=".message.ShowMessageActivity" />
        <activity android:name=".drawer.children.EditChildrenActivity" />
        <activity android:name=".drawer.children.EditShowActivity" />
        <activity android:name=".pictureVideo.GalleryActivity" />
        <activity android:name=".pictureVideo.PicActivity"></activity>
        <activity android:name=".ZarinPalActivity">

<!--
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="return"  android:host="zarinpalpayment"/>-->

        </activity>
    </application>

</manifest>